<div class="flex flex-column">
  <span class="text-lg mb-4 lg:text-center" >Login</span>
  <mat-form-field >
    <mat-label class="">Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>

  <mat-form-field >
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="password">
  </mat-form-field>
  <button
    mat-flat-button color="primary" style="border-radius: 20px;"
    (click)="onLogin()"
  >
    <mat-icon>login</mat-icon>
    Ingresar
  </button>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿Quiero registrarme?</a>
  </div>
</div>
